*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    margin-top: 30px;
}

.header__container{
    width: 95%;
    max-width: 900px;
    display: flex;
    padding: 25px;
    margin: auto;
    background: linear-gradient(to right, rgb(29, 167, 149), rgb(19, 188, 218));
    justify-content: center;
    align-items: center;
}
.header__container__img{
    width: 95px;
}

.header__container__title{
    font-size: 40px;
    margin-left: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.secciones__equipos{
    width: 95%;
    max-width: 900px;
    border: 1px solid #777;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipo{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.equipo #nombre-equipo{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.equipo .logo{
    width: 150px;
    margin: auto;
}


.miembros{
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid ;
}

.miembros .coach{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.miembros .jugadores{
   margin: auto;
   list-style: none;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 15px;
    margin-top: 25px;
    border-radius: 15px;
    border: none;
    background-color: rgb(94, 160, 160);
    font-weight: bolder;
    color: aliceblue;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(40, 192, 192);
    color: white;

}